<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block titlehere %}{% endblock titlehere %}</title>
	<!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Anton|Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
</head>
<body class="filler3">
	<!-- navbar -->
	<nav class="navbar navbar-static-top navbar-expand-md nav-custom">
		<div class="container">
			<ul class="nav navbar-nav flex-row">

				<li><a class="navbar-brand" href="{% url 'home' %}">
					<img src="https://image.flaticon.com/icons/svg/25/25694.svg" width="30" height="30">
				</a></li>
				{% if user.is_authenticated %}
					<li class="nav-item"><a class="nav-link custom-item" href="{% url 'logout' %}">Logout</a></li>
					
				{% else %}
					<li class="nav-item"><a class="nav-link custom-item" href="{% url 'login' %}">Log In</a></li>
					<li class="nav-item"><a class="nav-link custom-item" href="{% url 'accounts:signup' %}"> Sign Up</a></li>
				{% endif %}
			</ul>


			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavHam" aria-controls="NavHam" aria-expanded="false" aria-label="Toggle navigation">
	     	<span class="navbar-toggler-icon"></span>
	    </button>

	    
	    <div class="collapse navbar-collapse" id="NavHam">
	    	<div class="container">
	    		<ul class="navbar-nav justify-content-end mr-auto">

	    			{% if user.is_authenticated %}
	    				<li class="nav-item">
	    					<a class="nav-link custom-item" href="{% url 'posts:create' %}">New Post</a>
	    				</li>
	    				<li class="nav-item">
	    					<a class="nav-link custom-item" href="{% url 'groups:all' %}">Groups</a>
	    				</li>
	    				<li class="nav-item">
	    					<a class="nav-link custom-item" href="{% url 'groups:create' %}">New Group</a>
	    				</li>
	    			{% else %}
	    				<li class="nav-item">
	    					<a class="nav-link custom-item" href="{% url 'groups:all' %}">Groups</a>
	    				</li>
	    			{% endif %}
	    		</ul>
	    	</div>
	    </div>
	  </div>
	</nav>

	{% block body %}
		
	{% endblock body %}

	<!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>