{% extends "base.html" %}
{% block titlehere %}Welcome to Tweeddit{% endblock titlehere %}

{% block body %}
	<div class="container">
		<div class="jumbotron filler2">
			<h1>Welcome to a page that definetly is not trying to copy any  other one!</h1>
			<p>any other two perhaps, who cares, this  has tic-tac-toe.</p>
		</div>
		<div class="container">
      <div class="jumbotron">
        <p>Behold the game! <strong>NOW WITH WIN CONDITION!</strong><small>(sort off)</small></p>
        <button id="reset" type="button" class="btn btn-primary btn-lg" name="button">Restart</button>
      </div>

      <table align="center">
        <tr>
          <td game></td>
          <td game></td>
          <td game></td>
        </tr>
        <tr>
          <td game></td>
          <td game></td>
          <td game></td>
        </tr>
        <tr>
          <td game></td>
          <td game></td>
          <td game></td>
        </tr>
      </table>
    </div>


    <script type="text/javascript" src="/static/js/tictactoe.js">
    </script>
	</div>
{% endblock body %}