{% extends "posts/post_base.html" %}

{% block post_content %}
	<div class="row">
		<div class="col-md-3">
			<div class="container">
				<h3>Do you really want to delete this?</h3>

				<form method="POST">
					{% csrf_token %}
					<input type="submit" value="Yes, ignite it" class="btn btn-lg btn-danger">
					<a href="{% url 'posts:single' username=user.username pk=object.pk %}" class="btn btn-lg btn-secondary">Cancel</a>
				</form>
			</div>
		</div>
		<div class="col-md-9">
			<div class="container">
				<div class="jumbotron filler2">
					{% include "posts/_post.html" %}
				</div>
			</div>
		</div>
	</div>
	


{% endblock post_content %}